:root {
    --primary-color: darkblue;
    --seconday-color: black;
    --accent1-color: grey;
    --accent2-color: white;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

/* .navigation {
    display: flex;
    list-style: none;
    justify-content: flex-end;
} */

.navigation {
    justify-self: end;
}
.navigation ul {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: tomato;
    text-decoration: underline;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--seconday-color);
}

.hero article {
    position: absolute;
    bottom: -20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    margin: 10px;
    padding: 0px;
}

.hero button {
    position: absolute;
    bottom: 15%;
    right: 220px;
    width: 400px;
    height: 70px;
    font-size: 30px;
    background-color: var(--accent2-color);
}

.hero button a {
    text-decoration: none;
    color: var(--primary-color)
}

.hero article img {
    float: right;
    width: 125px;
    margin-top: 20px
}

.contactinfo {
    text-align: center;
    padding: 1rem;
}

.contactinfo p {
    margin: 1px;
    padding: 1px;
}

.mass {
    display: flex;
}

form {
    padding-top: 0;
    width: 400px;
    /* margin: 0 auto; */
    padding: 1rem;
    background-color: var(--accent2-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1px;
    padding: 1px;
    border: none;
}

.purpose {
    display: flex;
    align-items: flex-start;
}

.purpose p {
    max-width: 50px; 
    text-align: left;
    padding-right: 70px;
    margin: 0;
    align-self: center;
}
.purpose-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.purpose-piece {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1, 1, 1;
}

.signup form {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  gap: 20px;
  width: 80%;
}

.signup fieldset {
  border: none;
  display: flex;
  flex: 1;
  gap: 20px; 
  padding: 0;
  margin: 0;              
  /* justify-content: center; */
}

.signup fieldset div {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* align-items: flex-start; */
}

.signup button {
  flex: 1;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 2px;
}

label {
    text-align: left;
    /* padding-right: 1rem; */
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: .5rem;
    background-color: var(--seconday-color);
    color: var(--accent2-color);
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
}

button:hover {
    background-color: lightblue;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.history h2 {
    text-align: center;
    grid-column: 1 / -1;
}

.history img {
    justify-self: center;
    width: 200px;
    height: auto;
}

.history p {
    text-align: justify;
}

.aay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.two {
    grid-template-columns: 1fr 1fr 1fr;
}

.aay h2 {
    text-align: center;
    grid-column: 1 / -1;
}

.aay img {
    width: 160px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

footer p {
    justify-self: start;
}

.socialmedia {
    display: flex;
    justify-self: end;
}

footer img {
    width: 30px;
    height: auto;
}