:root {
    --box-color: black;
    --box-text: whitesmoke;
    --flavor-color: darkblue;
    --border: 1px;
}

nav {
    background-color: var(--flavor-color);
    padding: 10px;
}
nav a {
    color: var(--box-text);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--flavor-color);
}
main img {
    width: 150px;
    height: auto;
    border: var(--border) solid var(--box-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 500px;
}
aside {
    width: 500px;
    margin: 10px;
    border: var(--border) solid grey;
    padding: 2px;
    background-color: var(--box-color);
    color: var(--box-text);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: var(--border) solid var(--box-color);
    text-align: center;
}
